<div class="col-xs-12">
    <div class="panel panel-info panello">
        <div class="panel-heading">
            <h3 class="panel-title">Logowanie</h3>
        </div>
        <form class="panel-body" role="form" ng-submit="logUser()">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="userName"/>
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="userPass"/>
            <button href="#" class="btn btn-info button" type="submit">Zaloguj</button>
            <div class="alert alert-danger" ng-show='message' ng-bind='message'></div>
        </form>
    </div>
</div>
