<div class="col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Logowanie</h3>
        </div>
        <div class="panel-body" ng-submit="logUser()">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="userName" value="Bobo"/>
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="userPass"/>
            <a class="btn btn-info" type="submit">Zaloguj</a>
            <div class="alert" ng-show='message' ng-bind='message'></div>
        </div>
    </div>
    <div ui-view></div>
</div>
